<% include partials/header %>

<div class="container">

  <% cities.forEach(function(city) { %>

    <div class="row city-display bg-faded">

      <div class="col-3">
        <a href="/cities/<%= city._id %>%>">
          <img class="img-fluid rounded" src="<%= city.image %>">    
        </a>
      </div>

      <div class="col-7 align-self-center">
        <p class="text-muted"><small><%= city.date_created.toDateString() %></small></p>
        <h1 class=""><%= city.name %>, <%= city.state %></h1>      
        <h6 class="text-muted">Population: <%= city.population.toLocaleString('en') %></h6>

      </div>

      <div class="col-1 align-self-end">
        <a href="/cities/<%= city._id %>" class="btn btn-primary">
          Read More...
        </a>
      </div>

    </div>

  <% }) %>

</div>

<% include partials/footer %>
