<% include partials/header %>

<% cities.forEach(function(city) { %>
  <h3><%= city.name %></h3>
  <span><%= city.state %></span>
  <img src="<%= city.image %>">
  <p><%= city.population %></p>
  <p><%= city.date_created %></p>
  <a href="/cities/<%= city._id %>">Read More...</a>
<% }) %>

<% include partials/footer %>
