<% include partials/header %>

<div class="container">
	
	<div class="row">
		<div class="col-10">
			<h1 class="display-2"><%= city.name %>, <span class="text-muted"><%= city.state %></span></h1>			
		</div>
		<div class="col-2 align-self-start">
			<small class="text-muted"><%= city.date_created.toDateString() %></small>			
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p class="text-muted">Population: <%= city.population.toLocaleString('en') %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-2"></div>		
		<div class="col-8">
			<img class="img-fluid rounded" src="<%= city.image %>" alt="">			
		</div>
		<div class="col-2"></div>
	</div>

	<div class="row justify-content-start btnRow">
		<div class="col-1">
			<a class="btn btn-info" href="/cities/<%= city._id %>/edit">Edit City</a>
		</div>
		<div class="col-1">
			<form class="" action="/cities/<%= city._id %>?_method=DELETE" method="POST">
			  <button class="btn btn-danger" type="submit">Delete City</button>
			</form>
		</div>
	</div>
	

</div>




<% include partials/footer %>
