<% include partials/header %>

<h3><%= city.name %>, <%= city.state %></h3>
<span><%= city.population %></span>
<span><%= city.date_created %></span>

<img src="<%= city.image %>" alt="">

<form class="" action="/cities/<%= city._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete City</button>
</form>
<a href="/cities/<%= city._id %>/edit">Edit City</a>

<% include partials/footer %>
